<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISizeService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8004/SizeService/mex" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ISizeService" contract="SizeServiceReference.ISizeService"
          name="BasicHttpBinding_ISizeService" />
    </client>
  </system.serviceModel>
</configuration>